# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners of code are automatically nominated to review PRs involving that code.

# These owners will be the default owners for everything in the repo.
*       @tleonhardt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

# GitHub stuff
.github/*                  @tleonhardt

# cmd2 code
cmd2/__init__.py           @kmvanbrunt @tleonhardt
cmd2/argparse_*.py         @kmvanbrunt @anselor
cmd2/clipboard.py          @tleonhardt
cmd2/cmd2.py               @tleonhardt @kmvanbrunt
cmd2/colors.py             @tleonhardt @kmvanbrunt
cmd2/command_definition.py @anselor
cmd2/constants.py          @tleonhardt @kmvanbrunt
cmd2/decorators.py         @kmvanbrunt @anselor
cmd2/exceptions.py         @kmvanbrunt @anselor
cmd2/history.py            @tleonhardt
cmd2/parsing.py            @kmvanbrunt
cmd2/plugin.py             @anselor
cmd2/py_bridge.py          @kmvanbrunt
cmd2/rich_utils.py         @kmvanbrunt
cmd2/rl_utils.py           @kmvanbrunt
cmd2/string_utils.py       @kmvanbrunt
cmd2/styles.py             @tleonhardt @kmvanbrunt
cmd2/terminal_utils.py     @kmvanbrunt
cmd2/transcript.py         @tleonhardt
cmd2/utils.py              @tleonhardt @kmvanbrunt

# Documentation
docs/*                     @tleonhardt

# Examples
examples/modular*          @anselor
examples/*.py              @kmvanbrunt @tleonhardt

# Unit and Integration Tests
tests/*                    @kmvanbrunt @tleonhardt

# Top-level project stuff
.coveragerc                @tleonhardt
.gitignore                 @tleonhardt @kmvanbrunt
.pre-commit-config.yaml    @tleonhardt
.prettierignore            @tleonhardt
.prettierrc                @tleonhardt
.readthedocs.yaml          @tleonhardt
CHANGELOG.md               @kmvanbrunt @tleonhardt
cmd2.png                   @kmvanbrunt @tleonhardt
codecov.yml                @tleonhardt
LICENSE                    @kmvanbrunt @tleonhardt
Makefile                   @tleonhardt
MANIFEST.in                @tleonhardt
mkdocs.yml                 @tleonhardt
package.json               @tleonhardt
pyproject.toml             @tleonhardt @kmvanbrunt
ruff.toml                  @tleonhardt
README.md                  @kmvanbrunt @tleonhardt
