# Python development, test, and build
__pycache__
build
dist
cmd2.egg-info
.eggs
.cache
*.pyc
.tox
.pytest_cache

# Code Coverage
.coverage
htmlcov
junit

# PyCharm
.idea

# Visual Studio Code
.vscode

# mypy optional static type checker
.mypy_cache

# mypy plugin for PyCharm
dmypy.json
dmypy.sock

# cmd2 history file used in hello_cmd2.py
cmd2_history.dat

# Pipenv Lock file
Pipfile.lock

# Virtualenv directory
.venv
