# Python development, test, and build
__pycache__
build
dist
cmd2.egg-info
.cache
*.pyc
.tox
.pytest_cache

# Code Coverage
.coverage
htmlcov

# PyCharm
.idea

# Visual Studio Code
.vscode

# mypy optional static type checker
.mypy_cache
