repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ^examples/transcripts/
      - id: trailing-whitespace
        exclude: ^examples/transcripts/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.2"
    hooks:
      - id: ruff-format
        args: [--config=ruff.toml]
      - id: ruff-check
        args: [--config=ruff.toml, --fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.8.1
          - prettier-plugin-toml@2.0.6
