include LICENSE README.md CHANGELOG.md CONTRIBUTING.md tox.ini Pipfile
recursive-include examples *
recursive-include tests *
recursive-include docs *
recursive-exclude docs/_build *
exclude .appveyor.yml .gitignore .travis.yml azure-pipelines.yml CODEOWNERS tasks.py
