include LICENSE README.md CHANGELOG.md noxfile.py tasks.py Pipfile
recursive-include examples *
recursive-include tests *
recursive-include docs *
prune .github
prune docs/_build
prune docs/.nox
exclude .github .gitignore azure-pipelines.yml
global-exclude htmlcov/** .coverage* __pycache__/** .gitignore
