include LICENSE README.md CHANGELOG.md mkdocs.yml pyproject.toml ruff.toml tasks.py
recursive-include examples *
recursive-include tests *
recursive-include docs *
prune .github
prune build
exclude .github .gitignore .readthedocs.yaml
global-exclude htmlcov/** .coverage* __pycache__/** .gitignore
