[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyperclip = "*"
setuptools = "*"
wcwidth = "*"

[dev-packages]
build = "*"
cmd2 = { editable = true, path = "." }
cmd2_ext_test = { editable = true, path = "plugins/ext_test" }
codecov = "*"
doc8 = "*"
gnureadline = { version = "*", sys_platform = "== 'darwin'" }
invoke = "*"
ipython = "*"
mypy = "*"
pyreadline3 = { version = ">=3.4", sys_platform = "== 'win32'" }
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
ruff = "*"
setuptools-scm = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
twine = ">=1.11"

[pipenv]
allow_prereleases = true
