# For documentation on GitHub Actions Workflows, see:
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: Docs
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0 # Needed for setuptools_scm to work correctly

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Install the project
        run: uv sync --group docs
      - name: Check if the Zensical documentation can be built
        run: uv run zensical build -s
