# For documentation on GitHub Actions Workflows, see:
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: Tests
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [master]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14-dev"]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
          extra-dependencies: --all-extras --dev

      - name: Run tests
        run: uv run inv pytest --junit --no-pty --base

      - name: Run isolated tests
        run: uv run inv pytest --junit --no-pty --isolated

      - name: Upload coverage reports to Codecov with GitHub Action on Python 3.13 for each OS
        uses: codecov/codecov-action@v3
        if: ${{ matrix.python-version == '3.13' }}
